<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Book App</title>
  </head>

  <body>
    <main>
      <nav>
        <a href="/new"> Search For Book</a>
        <a href="/"> Home</a>
      </nav>
      <% books.forEach(book=>{ %>
      <div class="card">
        <img src="<%=book.img %>" alt="Book Cover" />
        <h2><%= book.title %></h2>
        <h3><%= book.author %></h3>
        <p class="description"><%= book.description %></p>
        <form action="/books" method="POST">
          <input name="title" type="hidden" value="<%= book.title %>" />
          <input name="author" type="hidden" value="<%= book.author %>" />
          <input
            name="description"
            type="hidden"
            value="<%= book.description %>"
          />
          <input name="img" type="hidden" value="<%= book.img %>" />
          <input name="isbn" type="hidden" value="<%= book.isbn %>" />
          <input name="shelf" type="hidden" value="<%= book.shelf %>" />
          <button class="btnSubmit" type="submit">Select This Book</button>
        </form>
      </div>
      <% }) %>
    </main>
  </body>
</html>
